@import "tailwindcss";

body {
  font-family: Tahoma;
  background-color: #222222;
}

button {
  font-size: 15px;
  color: #222;
  background: linear-gradient(to bottom, #f3f3f3 0%, #e7e7e7 100%);
  border: 2px solid #7a9ee6;
  border-radius: 4px;
  box-shadow:
    inset -1px -1px 0 #b5b5b5,
    1px 1px 2px #b5b5b5;
  padding: 4px 18px 5px 18px;
  cursor: pointer;
}

button:active {
  background: linear-gradient(to bottom, #e7e7e7 0%, #f3f3f3 100%);
  box-shadow:
    inset 1px 1px 2px #b5b5b5,
    1px 1px 2px #b5b5b5;
}

.tab-internal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #d8d4d4;
  color: #222;
  border: 2px solid #1863c2;
  margin-top: 4px;
  padding-bottom: 12px;
}

.tab {
  background: linear-gradient(to bottom, #1863c2 0%, #3a8be4 100%);
  color: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 4px 4px 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow:
    0 2px 0 0 #fff inset,
    0 1px 2px 0 #0003;
}
